body {
margin:0;
padding:0;
}

#container {
margin:0;
width:100%;
}

#container #header {
height:100px;
background-color:#FFFFFF;
text-align:center;
font:24px Verdana, Arial, Helvetica, sans-serif;
}

#container #content {
font:12px Verdana, Arial, Helvetica, sans-serif;
text-align:center;
}
#container .col2 {
float:left;
width:100%;
margin-left:0px;
background-color:#FFFFFF;
height:380px;
}
#container #footer {
clear:both;
background-color:#FFFFFF;
font:12px Arial, Helvetica, sans-serif;
text-align:center;
}
